<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questione</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/search.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="container mt-4">
      
      <h3>Busca de Perguntas</h3>
      <br>
      <div class="row">
        <!-- Busca por Data -->
        <div class="col-md-4">
          <form action="/buscarpergunta/data" method="POST">
            <div class="form-group">
              <label class="text-light-opacity mb-2" for="data_criacao">Buscar por Data:</label>
              <input type="date" class="form-control input-color mb-3" id="data_criacao" name="data">
            </div>
            <button type="submit" class="btn btn-primary btn btn-light fw-semibold">Buscar</button>
          </form>
        </div>

        <!-- Busca por Descrição -->
        <div class="col-md-4">
          <form action="/buscarpergunta/titulo" method="POST">
            <div class="form-group">
              <label class="text-light-opacity mb-2" for="descricao">Buscar por titulo:</label>
              <input type="text" class="form-control input-color mb-3" id="titulo" name="titulo" placeholder="Título">
            </div>
            <button type="submit" class="btn btn-primary btn btn-light fw-semibold">Buscar</button>
          </form>
        </div>

        <!-- Busca por Perguntador -->
        <div class="col-md-4">
          <form action="/buscarpergunta/perguntador" method="Post">
            <div class="form-group">
              <label class="text-light-opacity mb-2" for="perguntador">Buscar por Perguntador:</label>
              <input type="text" class="form-control input-color mb-3" id="perguntador" name="perguntador" placeholder="Nome do perguntador">
            </div>
            <button type="submit" class="btn btn-primary btn btn-light fw-semibold">Buscar</button>
          </form>
        </div>
      </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
