<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERGUNTAS-RESPOSTAS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/search.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
      <hr />
      <h1>Resultado da Perguntas</h1>
      <hr />
      <% pergunta.forEach(pergunta => { %>
      <br />
      <div class="card">
        <div class="card-body">
          <h3><%= pergunta.titulo %></h3>
        </div>
        <div class="card-footer">
          <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary"
            >Responder</a
          >
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
