:root {
  --black: #060608;
  --light-black: #17171f;
  --text-white: #2e2e39;
  --gray: #eeeeee;
  --red: #aa2200;
  --red-opaque: rgba(170, 34, 0,0.2);
  --white: #f1f8fb;
  --white-opaque: rgba(241,248,251,0.5);
}

body {
  font-family: "Inter", serif;
  background-color: var(--black);
  color: var(--white);
}
#formulario-pergunta {
  margin-top: 5vh;
  color: var(--white-opaque);
}
#formulario-pergunta button{
  background-color: var(--white);
  color: var(--black) ;
}
#formulario-pergunta button:hover{
  background-color: var(--white-opaque);
}
#formulario-pergunta input, #formulario-pergunta textarea{
  background-color: var(--light-black);
  border-color: rgba(255, 255, 255, 0.5);
  color: var(--white);
}
#formulario-pergunta input::placeholder, #formulario-pergunta textarea::placeholder{
  color: var(--white);
}
.bg-nav {
  background-color: var(--light-black);
}
.navbar-brand {
  color: var(--red);
}
.res-button a {
  background-color: var(--light-black);
  color: var(--white);
}
.res-button a:hover{
  background-color: var(--text-white);
}
.res-button svg {
  color: var(--red);
}
.num-answers{
  background-color: var(--red-opaque);
  color: var(--white);
}
.num-answers svg{
  color: var(--red);
}
hr {
  color: var(--off-white);
}
.text-light-opacity {
  color: var(--gray);
  opacity: 0.5;
}
.nav-item:hover {
  opacity: 0.4;
}

.transparent{
  background-color: transparent;
  border-color: transparent;
  color: var(--white);
}

.input-color, .input-color:focus{
  background-color: var(--text-white);
  color: var(--white);
  border-color: var(--gray);
}

.input-color::placeholder{
  color: var(--white);
}

.answer{
  background-color: var(--light-black);
  border-color: transparent;
  color: var(--white);
}