:root {
  --bg-color: #060608;
  --bg-nav: #17171f;
  --text-white: #2e2e39;
  --text-opaque: #eeeeee;
  --red: #aa2200;
  --red-opaque: rgba(170, 34, 0,0.2);
  --text-primary: #f1f8fb;
  --text-primary-opaque: rgba(241,248,251,0.5);
}
.light{
  /* --text-primary: #060608;
  --bg-color: #f1f8fb; */
  --bg-color: #f1f8fb;
  --bg-nav: #eeeeee;
  --text-white: #ffffff;
  --text-opaque: #2e2e39;
  --red: #d9534f;
  --red-opaque: rgba(217, 83, 79, 0.2);
  --text-primary: #2e2e39;
  --text-primary-opaque: rgba(46, 46, 57, 0.5);
}
body {
  font-family: "Inter", serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
}
small, strong, h4, h3, .nav-link{
  color: var(--text-primary);
}
.bg-nav{
  background-color: var(--bg-nav);
}
.navbar-brand {
  color: var(--red);
}
.nav-item:hover {
  opacity: 0.4;
}
.logIn,
.logOut,
.signUp{
  background-color: var(--red);
  color: var(--bg-color);
}
.logIn:hover,
.logOut:hover,
.signUp:hover{
  background-color: var(--red-opaque);
}
#switch button{
  background-color: var(--text-primary-opaque);
  color: var(--text-white);
  width: 2rem;
  height: 2rem;
}
#switch button:hover{
  outline: 0.15rem solid var(--text-primary);
  opacity: 0.2;
}
#formulario-pergunta, .formulario-resposta{
  margin-top: 5vh;
  color: var(--text-primary-opaque);
}
#formulario-pergunta button, .formulario-resposta button{
  background-color: var(--text-primary);
  color: var(--bg-color) ;
}
#formulario-pergunta button:hover, .formulario-resposta button:hover{
  background-color: var(--text-primary-opaque);
}
#formulario-pergunta input, #formulario-pergunta textarea, .formulario-resposta input, .formulario-resposta textarea{
  background-color: var(--bg-nav);
  border-color: rgba(255, 255, 255, 0.5);
  color: var(--text-primary);
}
#formulario-pergunta input::placeholder, #formulario-pergunta textarea::placeholder{
  color: var(--text-primary);
}
.res-button a {
  background-color: var(--bg-nav);
  color: var(--text-primary);
}
.res-button a:hover{
  background-color: var(--text-white);
}
.res-button svg {
  color: var(--red);
}
.num-answers{
  background-color: var(--red-opaque);
  color: var(--text-primary);
}
.num-answers svg{
  color: var(--red);
}
hr {
  color: var(--off-white);
}
hr:last-child{
  display: none;
}
.text-light-opacity {
  color: var(--text-opaque);
  opacity: 0.5;
}
.buttons button{
  background-color: transparent;
  color: var(--text-primary);
}
.buttons button:hover{
  color: var(--text-primary-opaque);
}
.transparent{
  background-color: transparent;
  border-color: transparent;
  color: var(--text-primary);
}
.btn-light{
  background-color: var(--text-primary);
  color: var(--bg-color);
}
.input-color, .input-color:focus{
  background-color: var(--bg-nav);
  color: var(--text-primary);
  border-color: var(--text-opaque);
}
.logInCard,
.signUpCard{
  background-color: var(--bg-nav);
  color: var(--text-primary);
}
.input-color::placeholder{
  color: var(--text-primary);
}

.answer{
  background-color: var(--bg-nav);
  border-color: transparent;
  color: var(--text-primary);
}